body {
  overflow-x: hidden;
  margin: none;
}

.container {  
  width: 100vw;
  height: 320vh;
  display: grid;
  grid-template-columns: 2fr 1fr 12fr;
  grid-template-rows: 3fr 7fr 2fr 8fr 2fr 8fr 2fr 8fr 1fr 3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". progress opening"
    ". progress ."
    ". progress security"
    ". progress ."
    ". progress features"
    ". progress ."
    ". progress themes"
    ". . ."
    "footer footer footer";
}

.opening {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 1fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo"
    "."
    "getitbutton";
  grid-area: opening;
}

.logo { 
  grid-area: logo;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

 #homelogo {
    object-fit: contain;
  }

.getitbutton { 
  grid-area: getitbutton;
  -webkit-animation: fadeInDel 1s;
  -moz-animation: fadeInDel 1s;
  -o-animation: fadeInDel 1s;
  -ms-animation: fadeInDel 1s;
}

.progress { grid-area: progress; }

.security { grid-area: security; }

.features { grid-area: features; }

.themes { grid-area: themes; }

.footer { grid-area: footer; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInDel {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeInDel {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeInDel {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeInDel {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeInDel {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
