.coollink a {
  text-decoration: none;
  color: fff;
  font-size: 3em;
  font-weight: 500;
  margin: 0 2px 0 4vw;
  padding: 0;
  position: relative;
}

.coollink a:before {
  position: absolute;
  margin: 0 auto;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  content: '';
  opacity: .3;
  -webkit-transform: scaleX(.9);
  transition-property: opacity, -webkit-transform;
  transition-duration: .3s;
}

.coollink a:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1);
}
